/*@import './base.css';*/
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #818cf8;
    border-radius: 9999px;
}

@layer components{
    .card{
        @apply flex items-center justify-center border-black border-2 flex-1 rounded-lg py-4 px-4 mx-2
    }
}